@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-background: #222222;
    --cor-destaque: #20B4FC;
    --cor-destque-bluer: #26b7ff65;
    --cor-card-elements: #4E4E4E;
    --cor-card-elements-bluer: #6d6d6d;
    --cor-background-dark: #111111;
    --cor-destaque-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
    background-color: var(--cor-background);
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: var(--cor-destaque-text);
    /* height: 500vh; */
}

.text {
    position: absolute;
    right: -0px;
    transform: rotate(90deg); 
    font-size: 4rem; 
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

header {
    background-color: var(--cor-background);
}

#logotech-right {
    color: var(--cor-destaque);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.781);
}

#logotech {
    margin-left: 7.125rem;
    color: var(--cor-destaque);
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4.10rem;
    padding-top: 20px;    
}

a {
    color: var(--cor-destaque-text);
    margin: 15px;
    text-decoration: none;  
}

a:hover {
    color: var(--cor-destaque);
    text-shadow:  #2cb9ff 0px 5px 25px;
    transition: .5s;
    text-decoration: overline;  
}

.content-infor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-infor-left {
    padding-top: calc(6.875rem-15px);
    margin-left: 7.125rem;
    font-size: 1.2rem;
    width: 50vw;
} 

.content-image-mouse {
    width: 50vw;
    height: auto;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.76));
}

div > h1 {
    color: var(--cor-destaque-text);
}

div > h3 {
    color: var(--cor-card-elements);
    margin-bottom: 1.1rem;
}

div > h4 {
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: var(--cor-destaque);
}

.button-container {
    display: flex;
    width: 300px;
    height: 40px;
    margin-left: 7.125rem;
    margin-top: -85px;
    gap: 10px; 
}

.btn2 {
    padding: 10px 20px;
    border: 2px solid var(--cor-destaque-text);
    background-color: transparent;
    color: var(--cor-destaque-text);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.btn {
    padding: 10px 20px;
    background-color: var(--cor-destaque);
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #2cb9ffcc;
    transition: .2s;
    transform: scale(1.1);
    box-shadow:  0px 0px 18px #2cb9ffdc;
}

.content-image {
    margin-top: 9.375rem;
    text-align: center;
}


.center-firt-x {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--cor-destque-bluer);
}

.center-firt {
    margin-top: -3rem;
    font-size: 1.3rem;
    color: var(--cor-card-elements-bluer);
}

.image-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.image-group-chair {
    height: auto;
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 35px black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image-group-chair:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
    border: 2px solid #2cb9ff;
    box-shadow: #2cb9ff 0px 5px 25px;
}

.column-image-four {
    margin-top: -120px;
    text-align: center;
}

.column-image-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.items-container {
    border-radius: 10px;
    background-color: var(--cor-card-elements);
    padding: 20px;
    text-align: right;
    min-width: 590px;
    min-height: 150px;
    /* width: 590px;
    height: 150px; */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.column-image-footer {
    margin-top: 120px;
    text-align: center;
}

.content-formulario {
    margin: auto;
}

.form-right {
    /* background-color: var(--cor-destaque); */
    width: 790px;
    height: 250px;
    margin: auto;
    padding: 30px;
}

input {
    width: 280px;
    padding: 13px;
    margin-top: 10px;
    outline: none;
    border: none;
    color: var(--cor-destaque-text);
    background-color: var(--cor-card-elements);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.623);
}

textarea {
    width: 565px;
    height: 300px;
    padding: 13px;
    margin-top: 10px;
    outline: none;
    border: none;
    color: var(--cor-destaque-text);
    background-color: var(--cor-card-elements);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.76);
}

#email {
    width: 565px;
}

#btn-enviar {
    width: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.568);
}

#btn-enviar:hover {
    box-shadow:  0px 0px 18px #2cb9ffdc;
}

.card-about-us {
    background-color: var(--cor-background-dark);
    width: 100%;
    height: 230px;
    margin-top: 450px;
    box-shadow: 40px 10px 50px 0 #2cb9ffbd;
}

.card-about-us {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 30px;
}

.icon-import:hover {
    background-color: #20B4FC;
    transition: .3s;
    border-radius: 50%;
    border: 2px solid rgb(218, 244, 255);
    box-shadow: 0 0 10px #20b4fc;
}

.footer-link {
    padding-top: 8px;
}

.class-lin {
    margin: 5px;
}

.last {
    color: var(--cor-destaque-text);
    text-align: center;
    margin-top: -60px;
}

/* animations keyframes */